################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/glm
/glfw-3.4.bin.WIN64
/build
/glm-1.0.1